# Binary output of the modelling tool: not diffable, rewritten on every save,
# unreadable without a licence. The text and image output in results/ is kept.
*.vdf
*.vdfx
*.mdls

# Modelling tool working files
*.bak

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/

# OS
.DS_Store
Thumbs.db
